<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/concerts" <%- title === 'All Concerts' ? 'class="active"' : '' %>>ALL CONCERTS</a> 
        <% if (user) { %>
            &nbsp;|&nbsp;&nbsp; <a href="/concert/new" <%- title === 'Add Concert' ? 'class="active"' : '' %>>ADD CONCERT</a> 
            &nbsp;|&nbsp;&nbsp; <a href="/logout"class="logout">LOG OUT</a>
        <% } else { %>
            &nbsp;|&nbsp;&nbsp; <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>

      <h1><%= title %></h1>