<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <nav> 
    <% if (user) { %>
      <div class="navbar">
        <a href="/concerts" class="<%= title === 'All Concerts' ? 'active' : '' %>">ALL CONCERTS</a>
        <a href="/concerts/new" class="<%= title === 'Add Concert' ? 'active' : '' %>">ADD CONCERT</a>
        <a href="/venues" class="<%= title === 'All Venues' ? 'active' : '' %>">ALL VENUES</a>
        <a href="/venues/new" class="<%= title === 'Add Venue' ? 'active' : '' %>">ADD VENUE</a>
      </div>      
     <a href="/logout" class="logout">LOG OUT</a>
     <% } else { %>
       <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
     <% } %>
   </nav>

  </body>
</html>
