<%- include('./partials/header') %>

    <img id="concert-crowd" src="/images/concert-crowd.jpg">
    <div class="landing-div">
        <h1><%= title %></h1>
        <p>Discover, relive, and track your favorite concert moments.</p>
    </div>

<%- include('./partials/footer') %>
