<%- include('./partials/header') %>

    <img id="concert-crowd" src="/images/concert-crowd.jpg">

    <h1><%= title %></h1>
    <p>Discover, relive, and track your favorite concert moments.</p>

<%- include('./partials/footer') %>
