body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: #00B7FF;
  text-decoration: none;
  margin-right: 10px; 
}

.login,
.logout {
  display: flex;
  align-items: center;
  height: 34px;
}

.login img {
  height: 20px;
}

