body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  margin-right: 10px; 
}

.login,
.logout {
  display: flex;
  align-items: center;
  height: 34px;
  background-color: rgb(140, 140, 140);
  border: 2px solid black;
}

.login img {
  height: 20px;
}

.dropbtn {
  font-size: 16px;
  border: 2px solid black;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(140, 140, 140);
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  background-color: rgb(140, 140, 140);
  border: 2px solid black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}


