body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(80, 69, 82, 0.869)
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-bottom: 20px;
}

.login {
  display: flex;
  align-items: center;
  height: 34px;
  color: rgb(195, 195, 195);
  padding: 2px 6px 2px 6px;
  background-color: rgba(6, 1, 1, 0.3);
  border: 3px solid rgb(0, 0, 0);
  font-family: 'Rubik Mono One', monospace;
  word-spacing: -7px;
  border-radius: 22px;
  text-decoration: none;
}

.login:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(195, 195, 195, 0.101);
  text-decoration: none;
}

.logout {
  display: flex;
  align-items: center;
  height: 34px;
  color: rgb(0, 0, 0);
  padding: 2px 6px 2px 6px;
  background-color: rgba(195, 195, 195, 0.3);
  border: 3px solid rgb(0, 0, 0);
  font-family: 'Rubik Mono One', monospace;
  word-spacing: -7px;
  border-radius: 22px;
  text-decoration: none;
}

.logout:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(195, 195, 195);
  transition: color 0.3s ease;
  text-decoration: none;
}

.login img {
  height: 18px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 34px;
  color: rgb(0, 0, 0);
  padding: 2px;
  background-color: rgba(195, 195, 195, 0.3);
  border: 3px solid rgb(0, 0, 0);
  font-family: 'Rubik Mono One', monospace;
  word-spacing: -7px;
  border-radius: 20px;
}

.navbar a {
  text-decoration: none;
  color: black; 
  margin: 0 15px; 
  font-family: 'Rubik Mono One', monospace;
  font-size: 16px;
  word-spacing: -5px;
}

.navbar a:hover {
  color: rgb(195, 195, 195); 
  padding: 10px 0px 10px 0px;
  margin: 0 15px; 
  border-radius: 16px;
}

#concert-crowd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
}

h1 {
  font-size: 8em;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 4px; 
  font-family: 'MuseoModerno', sans-serif;
  letter-spacing: -3.2px;
  color: rgb(0, 0, 0);
}

p {
  text-align: center;
  font-size: 22px;
  color: rgb(185, 49, 142);
  font-family: 'Rubik Mono One', monospace;
  word-spacing: -8px;
  margin-top: 4px; 
  margin-bottom: 45px; 
  opacity: .75;
}

h2 {
  font-size: 2.5em;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#new-form, #new-form-venue {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(195, 195, 195, 0.479);
  font-family: 'Roboto Mono', monospace;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}

#new-form label, #new-form-venue label {
  display: block;
  margin-bottom: 5px;
}

#new-form input, #new-form select, #new-form-venue input, #new-form-venue select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

#new-form input[type="submit"], #new-form-venue input[type="submit"] {
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

#new-form input[type="submit"]:hover, #new-form-venue input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
}

table {
  border-collapse: separate;
  margin: 16px auto;
  max-width: 800px;
  background-color: rgba(195, 195, 195, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

thead {
  border-radius: 8px;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

th, td {
  text-align: left;
  padding: 10px 10px 10px 15px;
  font-size: 15px;
}

th {
  font-family: 'Rubik Mono One', monospace;
  text-transform: uppercase;
  color: white;
  border-radius: 8px;
}

td {
  font-family: 'Roboto Mono', monospace;
  color: rgba(0, 0, 0, 0.9);
}

th, td {
  border: none;
}

a.details-link {
  display: inline-block; 
  margin-right: 4px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a.details-link:hover {
  text-decoration: underline;
  color: rgb(51, 0, 255);
}

.submitbtn {
  display: inline-block; 
  background-color: rgb(215, 11, 11);
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s;
  margin-top: 8px;
  position: relative;
  top: 50%; 
}

.submitbtn:hover {
  background-color: rgb(0, 0, 0);
  transition-duration: 0.3s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#show-page {
  margin: 16px auto;
  max-width: 550px;
  background-color: rgba(195, 195, 195, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#show-page div {
  margin-bottom: 10px;
}

#show-page div:first-child {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(185, 49, 142);
}

#show-page div:nth-child(even) {
  font-family: 'Roboto Mono', monospace;
  color: rgba(0, 0, 0, 0.8);
}

#show-page div:nth-child(odd) {
  font-family: 'Rubik Mono One', monospace;
  color: rgba(0, 0, 0, 0.9);
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 40px;
  letter-spacing: 2px;
}

#add-review-form {
  margin: 16px auto;
  max-width: 600px;
  background-color: rgba(195, 195, 195, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#add-review-form label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Rubik Mono One', monospace;
  color: rgba(0, 0, 0, 0.9);
}

#add-review-form textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

#add-review-form .rating {
  display: inline-block;
}

#add-review-form .rating label {
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

#add-review-form .rating input:checked ~ label,
#add-review-form .rating label:hover,
#add-review-form .rating label:hover ~ label {
  color: rgb(185, 49, 142);
  transition: color 0.3s;
}

#add-review-form input[type="submit"] {
  background-color: rgb(185, 49, 142);
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

#add-review-form input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
}

textarea {
  resize: none;
}

.avatar-img {
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
  margin-right: 8px; 
  padding-right: 3px;
}

.dltreview {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.dltreview:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(97, 97, 97);
  cursor: pointer;
}

h5 {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  margin: 16px auto;
  max-width: 600px;
  background-color: rgba(195, 195, 195, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px 0;
}

