<%- include('../partials/header') %>

<h2><%= title %></h2>

<form id="new-form" action="/concerts" method="POST">
  <label>Band/Artist:</label>
  <input type="text" name="artist"><br>
  <label>Venue:</label>
  <input type="text" name="venue"><br>
  <label>Date:</label>
  <input type="date" id="date" name="date"><br>
  <label>Setlist:</label>
  <input type="text" name="setlist"/><br>
  <input type="submit" value="Add Concert">
</form>

<%- include('../partials/footer') %>
